<!DOCTYPE html>
<html>

<head>

<title>Reset Password</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login-page">

<div class="login-wrapper">

<div class="login-card">

<div class="login-logo">

<img src="{{ url_for('static', filename='images/logo.png') }}">

<h2>Password Reset</h2>

<p>Update Account Password</p>

</div>


<div class="login-tabs">

<a href="/login">Login</a>

<a href="/register">Register</a>

<a class="active">Reset</a>

</div>


<form method="POST">

<label>Email ID</label>

<input type="email" name="email" required>


<label>New Password</label>

<input type="password" name="new_password" required>


<label>Confirm Password</label>

<input type="password" name="confirm_password" required>


<button type="submit" class="login-btn">

Update Password

</button>

</form>


</div>

</div>

</body>

</html>